<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:versionCode="1" android:versionName="1.0" package="processing.test.escapethemazeandroid"><uses-sdk android:minSdkVersion="8" android:targetSdkVersion="21"/><application android:debuggable="false" android:icon="@drawable/icon" android:label="EscapeTheMazeAndroid"><activity android:name=".EscapeTheMazeAndroid" android:screenOrientation="landscape"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity></application><uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/></manifest>